---
layout: page
---
  <div class="code_summary">
    <h2>Les codes sources du Gnuvario-E</h2>
    <ul>
      <li>{% if page.description == "Introduction" %}<strong>{% endif %}<a href="{{ site.baseurl }}{% link 5-code.md %}">Introduction</a>{% if page.description == "Introduction" %}</strong>{% endif %}</li>
      {%- assign code_steps = site.code | sort : 'step' -%}
      {%- for code_step in code_steps -%}
        {%- if forloop.first -%}
          {%- assign first_step = code_step -%}
        {%- endif -%}
      
        {%- if page.description == code_step.description -%}
          {%- unless forloop.first -%}
            {%- assign prev_step = tmpprev -%}
          {%- endunless -%}
          {%- unless forloop.last -%}
            {%- assign next_step = code_steps[forloop.index] -%}
          {%- endunless -%}
          <li><strong><a href="{{ code_step.url | relative_url }}">{{ code_step.description }}</a></strong></li>
        {%- else -%}
          <li><a href="{{ code_step.url | relative_url }}">{{ code_step.description }}</a></li>
        {%- endif -%}
	{%- assign tmpprev = code_step -%}  
      {%- endfor -%}
    </ul>
  </div>
  
  <div class="tutorial">
    <h2>{{ page.description }}</h2>
    {{ content }}
  </div>

  <div class="tuto_nav">
      {%- if prev_step -%}
      <a href="{{ prev_step.url | relative_url }}" class="code_previous">< Precedent</a>
      {%- endif -%}
      <a href="{{ site.baseurl }}{% link 5-code.md %}" class="code_home">Debut</a>
      {%- if next_step -%}
      <a href="{{ next_step.url | relative_url }}" class="code_next">Suivant ></a>
      {%- else -%}
        {%- if page.description == "Introduction" -%}
          <a href="{{ first_step.url | relative_url }}" class="code_next">Suivant</a>
        {%- endif -%}
      {%- endif -%}  
    </ul>
    

  </div>
